[submodule "stm32/stm32f4xx_hal_driver"]
	path = stm32/stm32f4xx_hal_driver
	url = git@github.com:STMicroelectronics/stm32f4xx_hal_driver.git
[submodule "STM32CubeF4"]
	path = STM32CubeF4
	url = git@github.com:STMicroelectronics/STM32CubeF4.git
